:root, :before, :after{
  --bg-2:#FFFFFF; 
  --color-border-dark:0 0 0;
  --color-border-light:255 255 255;
  --color-text-1:#757575; 
  --color-text-2:#212121; 
  --color-text-3:#E62020;
  --color-text-4:#414042;
  --color-text-5:#D50000;
  --color-fb:#1877f2;
  --color-tw:#00acec;
  --color-wa:#2bb240;
  --color-tg:#0088cc;
  --hover-opacity:0.55;
  --transition-default:all 0.34s;
  --shadow-default:0 2px 10px rgb(0 0 0 / 25%);
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}



body, html{color:var(--color-text-1);}
html{background-color:#2F2F2F;}
body.freeze-scroll{overflow:hidden;}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-text-2); fill:var(--color-text-2);}
a:hover, button:hover{color:var(--color-text-3); fill:var(--color-text-3);}
.btn, a.btn, button.btn{background-color:var(--color-text-3); color:var(--bg-1); fill:var(--bg-1);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-text-2);}
#btt{position:fixed; bottom:calc(var(--size-6) + var(--size-4)); right:0; cursor:pointer;
z-index:calc(var(--max-zindex) - 10000); width:40px; height:40px; background-color:var(--color-text-3); fill:var(--bg-1);}
#btt:hover, #btt:focus{background-color:var(--color-text-2);}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-text-2);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.section-title{border-color:var(--color-text-1); border-color:rgb(var(--color-border-dark) / 13%);}
.section-title-name{color:var(--color-text-2); border-color:var(--color-text-3);}



.topbox{background-color:var(--color-text-2);}
.topbox-trending-label{color:var(--bg-2); position:relative;}
.topbox-trending-label:before{background-color:var(--color-text-3);}
.topbox-trending-title{color:rgb(var(--color-border-light) / 77%);}
.topbox-share-link{border-color:rgb(var(--color-border-light) / 21%);}
.topbox-share-link .svgicon{fill:var(--bg-2);}



.header-logo:hover{opacity:var(--hover-opacity);}




.menu-link{color:var(--bg-2) !important; fill:var(--bg-2) !important;}
.menu-curr{background-color:var(--color-text-5) !important;}
.menu-curr:after{content:''; display:block; position:absolute; bottom:0; left:0; background-color:rgb(var(--color-border-dark) / 21%);}
.menu-more{transition:var(--transition-default);}
.menu-dummy-button{border-radius:var(--size-4); overflow:hidden;}
.menu-link[title="Rodanesia"] .menu-dummy-button{background-color:var(--bg-2);}
.menu-link[title="Whatchis"] .menu-dummy-button{background-color:#128d0e;}



.content-thumb-frame:hover{opacity:var(--hover-opacity);}
.content-info-misc{fill:var(--color-text-1);}
.content-info-misc > *{border-color:rgb(var(--color-border-dark) / 21%);}
.content-info-misc a{color:var(--color-text-3);}
.content-info-misc a:hover{color:var(--color-text-2);}

.media-list-container .content-info{background-color:rgb(var(--color-border-dark) / 55%); transition:var(--transition-default);}
.media-list-container .content-info-title{color:var(--bg-2);}
.media-list-container .content-info-desc{color:rgb(var(--color-border-light) / 89%); 
display:-webkit-box !important; visibility:visible !important; content-visibility:visible !important;}

.media-icon .svgicon{fill:var(--bg-2);}

.video-list-container .content-info{background:linear-gradient(to bottom, rgb(var(--color-border-dark) / 0%) 0%, rgb(var(--color-border-dark) / 100%) 100%);}
.video-list-container .content-info-title:hover{color:var(--color-text-3);}

.column-big-split .content-box{border-color:rgb(var(--color-border-dark) / 13%);}


.widget-rodanesia .box-container{background-color:var(--color-text-5);}
.widget-rodanesia .content-info-title{color:var(--bg-2);}
.widget-rodanesia .content-info-misc > *{color:rgb(var(--color-border-light) / 89%); border-color:rgb(var(--color-border-light) / 55%);}


.infographic{background-color:var(--color-text-2);}
.infographic .content-info *{color:rgb(var(--color-border-light) / 55%); fill:rgb(var(--color-border-light) / 55%);}
.infographic .content-info .section-title{border-color:rgb(var(--color-border-light) / 21%);}
.infographic .section-title-name, .infographic .content-info .content-info-title{color:var(--bg-2) !important;}
.infographic .content-info .content-info-title h2{color:inherit !important;}
.infographic .content-info-misc > *{border-color:rgb(var(--color-border-light) / 21%);}


.standing-row{border-color:rgb(var(--color-border-dark) / 13%);}
.standing-row:nth-child(even){background-color:rgb(var(--color-border-dark) / 5%);}
.standing-name, .standing-record{color:var(--color-text-2);}

.standing-head > *{color:var(--color-text-2);}


.internal-promo-link:hover{opacity:var(--hover-opacity);}



.topic-sidebar-place .svgicon{fill:var(--color-text-3);}



.content-detail a{color:var(--color-text-3);}
.content-detail a:hover, .content-summary{color:var(--color-text-2);}
.content-detail > ul > li::before, .content-detail > ol > li::marker{color:var(--color-text-3);}

.bacajuga:before{background-color:var(--color-text-3);}

.quote-icon-circle{background-color:var(--color-text-3); fill:var(--bg-2); border-radius:50%;}
.quote-detail{color:var(--color-text-2);}



.pagination-button, .content-detail .pagination-button{color:var(--color-text-2);}
.pagination{--button-size:14px; display:flex; justify-content:flex-end;}
.pagination-button{width:calc(var(--button-size) + var(--size-4)); height:calc(var(--button-size) + var(--size-4)); font-size:var(--button-size); line-height:100%;
border:1px solid rgb(var(--color-border-dark) / 13%); border-radius:var(--size-2); margin-left:var(--size-2); font-weight:normal;}
.pagination-button .svgicon{width:auto; height:var(--button-size);}
.pagination-curr{color:var(--color-text-3) !important; background-color:transparent !important; border-color:rgb(var(--color-border-dark) / 13%) !important;}
.pagination-arrow{background-color:var(--color-text-3); border-color:var(--color-text-3); fill:var(--bg-2);}
a.pagination-button:hover{background-color:var(--color-text-2); border-color:var(--color-text-2); fill:var(--bg-2); color:var(--bg-2);}



footer{margin-top:var(--size-6);}
footer .width-max{padding:var(--size-5) 0;}

.footer-top, .footer-bottom{display:flex; justify-content:center;}
.footer-top{background-color:#E5E4E2;}
.footer-top .width-max{display:grid; grid-gap:var(--size-6); grid-template-columns:repeat(auto-fit, minmax(240px,1fr));}

.footer-top-info{display:grid; grid-gap:var(--size-4); grid-auto-rows:min-content;}
.fti-logo img{width:100%; height:auto; max-width:250px;}
.fti-name{font-weight:bold; font-size:24px; color:var(--color-text-2);}
.fti-email{display:grid; grid-gap:var(--size-2);}
.fti-email-link{display:flex;}
.fti-email-icon .svgicon{width:auto; height:16px;}
.fti-email-address{margin-left:var(--size-3); font-weight:normal;}
.fti-group{display:flex; align-items:center;}
.fti-group-link{margin-right:var(--size-4);}
.fti-group-link img{width:120px; height:auto;}

.footer-top-menu .section-title{margin-bottom:var(--size-2);}
.ftm-box{display:grid; grid-gap:var(--size-1) var(--size-4); grid-template-columns:repeat(2,1fr);}
.ftm-link{justify-content:flex-start; padding:var(--size-2) 0; border-bottom:1px dashed rgb(var(--color-border-dark) / 13%); font-weight:normal; text-transform:uppercase;}

.ftf-list{display:flex;}
.ftf-link{justify-content:flex-start; margin-right:var(--size-3);}
.ftf-link:hover{opacity:var(--hover-opacity);}
.ftf-link img{width:100%; max-width:55px; height:auto;}

.footer-bottom{background-color:var(--color-text-2); color:rgb(var(--color-border-light) / 64%); font-size:12px;}
.footer-bottom-info{display:flex; flex-wrap:wrap;}
.footer-bottom-link{color:var(--bg-2); font-weight:normal;}
.ftf-mail-box{display:flex;}
.ftf-mail-field, .ftf-mail-button{padding:var(--size-2) var(--size-3);}
.ftf-mail-label{font-size:12px; margin-top:var(--size-4); margin-bottom:var(--size-1);}
.ftf-mail-button{background-color:var(--color-text-3); color:var(--bg-2);}



.show-sticky{fill:#FF8469 !important;}
.rancak-popup, .rancak-popup > *{top:0; right:0; width:100%; height:100%;}
.rancak-popup{position:fixed; z-index:var(--max-zindex);}
.rancak-popup > *{position:absolute;}
.rancak-popup > .rancak-popup-overlay{z-index:1; background-color:rgb(var(--bg-3) / 55%)}
.rancak-popup > .rancak-popup-close{z-index:1000; width:var(--size-6); height:var(--size-6);}
.rancak-popup > .rancak-popup-close .svgicon{width:auto; height:var(--size-5);}
.rancak-popup > .rancak-popup-container{padding:var(--size-6);}
.rancak-popup-box{position:relative; z-index:2000; padding:var(--size-4); max-width:610px;
background-color:var(--bg-4); border-radius:var(--rounded-1);}



.popup-search{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 7000); height:auto; top:var(--size-6);
background:linear-gradient(to bottom, rgb(var(--color-border-light) / 100%) 0%, rgb(var(--color-border-light) / 0%) 100%);}
.popup-search .width-max{position:relative; display:flex;}
.popup-search-field, .popup-search-button{padding:var(--size-3) var(--size-4);}
.popup-search-field{width:100%; background-color:var(--bg-2); border:1px solid rgb(var(--color-border-dark) / 13%);}
.popup-search-button{background-color:var(--color-text-5); color:var(--bg-2) !important;}
.popup-search-button:hover{background-color:var(--color-text-2);}





@media screen and (min-width:0px) and (max-width:1023px){
  header{box-shadow:var(--shadow-default);}
  .header-menu-toggle.show-sticky{}
  
  
  
  nav.content_center, nav .width-max{height:inherit;}
  nav.content_center{position:-webkit-sticky; position:sticky; top:var(--size-6); padding:var(--size-4);
  background:linear-gradient(to bottom, rgb(var(--color-border-light) / 100%) 0%, rgb(var(--color-border-light) / 0%) 100%);}
  nav .width-max{background-color:var(--color-text-3); display:grid; align-items:flex-start; max-height:calc(100vh - 144px); overflow-y:auto; 
  box-shadow:var(--shadow-neumorp); position:relative;}

  .menu-link{padding:var(--size-4); border-bottom:1px solid rgb(var(--color-border-dark) / 13%); justify-content:flex-start;}
  .menu-curr:after{width:var(--size-1); height:100%;}
  
  
  
  footer .width-max{padding-left:var(--size-4); padding-right:var(--size-4);}
  .footer-bottom-link{margin-top:var(--size-2); margin-right:var(--size-4);}
}





@media screen and (min-width:1024px){
  nav{background-color:var(--color-text-3);}
  
  .menu-link{border-color:rgb(var(--color-border-dark) / 13%) !important;}
  .menu-link:hover, .menu-more:hover, .menu-sub-box{background-color:var(--color-text-2);}
  .menu-curr:after{width:100%; height:var(--size-1);}
  .menu-sub-box .menu-link:hover{background-color:var(--color-text-4);}
  .menu-sub-box .menu-curr:after{width:var(--size-1); height:100%;}
  
  
  
  .footer-bottom .width-max{display:flex; justify-content:space-between;}
  .footer-bottom-link{margin-left:var(--size-4);}
  
  
  
  .popup-search .width-max{position:relative; display:flex; padding-top:var(--size-3);}
}