*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:975px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:18px;
  --bg-1:#FAFAFA; 
}



body, html{font-family:'Poppins',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.sticky-link{position:relative; font-weight:bold;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.section-title{font-family:'Exo',sans-serif; font-size:var(--title-fontsize); position:relative; margin-bottom:var(--size-4); border-bottom:1px solid; display:flex;}
.section-title-name{position:relative; padding-bottom:var(--size-2); border-bottom:3px solid; text-transform:uppercase; font-weight:bold;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.topbox{--default-fontsize:12px; font-size:var(--default-fontsize);}
.topbox .width-max{display:flex; justify-content:space-between;}
.topbox-left, .topbox-right{display:flex; align-items:center;}
.topbox-left{margin-right:var(--size-4);}
.topbox-trending{--line-width:3px; line-height:120%;}
.topbox-trending-label{text-transform:uppercase; margin-right:var(--size-2); padding-left:calc(var(--line-width) + var(--size-1));}
.topbox-trending-label:before{content:''; position:absolute; top:0; left:0; width:var(--line-width); height:100%;}
.topbox-trending-title{display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; -webkit-line-clamp:1; font-weight:normal;}

.topbox-share{display:flex;}
.topbox-share-link{display:flex; align-items:center; padding:0 var(--size-3); height:48px; border-left:1px solid;}
.topbox-share-link .svgicon{width:auto; height:calc(var(--default-fontsize) + var(--size-2));}
.topbox-share-rss{border-right:1px solid;}



header{width:100%; z-index:calc(var(--max-zindex) - 5000);}
header .width-max{display:flex; justify-content:space-between;}
.header-logo img, .header-link .svgicon{width:auto;}



nav{z-index:calc(var(--max-zindex) - 6000);}

.menu-link{text-transform:uppercase; position:relative;}
.menu-dummy-button{padding:var(--size-2) var(--size-4); height:36px; font-size:12px;}
.menu-dummy-button img{width:auto; height:100%;}



.rancak-container{position:relative;}
.rancak-container > .width-max{display:block;}
.main-container{display:grid; grid-gap:var(--size-5);}
.column-container{display:grid; grid-template-columns:1fr; grid-template-rows:min-content; grid-row-gap:var(--size-5);}



.content-list-container{display:grid; grid-gap:var(--size-4);}

.content-box{--thumb-size:76px; display:grid; grid-gap:var(--size-3); grid-template-columns:var(--thumb-size) 1fr; position:relative;}
.content-thumb-frame:before{padding-top:100%;}
.content-info{font-size:12px;}
.content-info-misc{display:flex; flex-wrap:wrap;}
.content-info-misc > *{padding-right:var(--size-2); margin-top:var(--size-2); margin-right:var(--size-2); border-right:1px solid; line-height:100%;}
.content-info-misc a{font-weight:normal;}
.content-info-title h2, .content-info-desc{display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}
.content-info-title h2{font-family:'Exo',sans-serif; font-size:var(--title-fontsize); line-height:150%; -webkit-line-clamp:2;}
.content-info-desc{-webkit-line-clamp:2 !important;}

.media-list-container{display:grid; grid-gap:var(--size-3); grid-template-columns:repeat(auto-fit, minmax(240px,1fr));}
.media-list-container .content-box{grid-template-columns:1fr; overflow:hidden;}
.media-list-container .content-thumb-frame:before{padding-top:56.25% !important;}
.media-list-container .content-info{position:absolute; z-index:1000; top:100%; left:0; width:100%; height:100%; padding:var(--size-3);
display:flex; flex-wrap:wrap; justify-content:center; align-items:flex-end; align-content:flex-end;}
.media-list-container .content-box:hover .content-info{top:0;}
.media-list-container .content-info > *{width:100%;}
.media-list-container .content-info-desc{-webkit-line-clamp:2;}



.slotiklan{overflow:hidden; position:relative; line-height:0;}
.slotiklan-300x250{contain-intrinsic-size:300px 250px; height:250px;}
.slotiklan-320x100{contain-intrinsic-size:320px 100px; height:100px;}
.slotiklan-728x90{contain-intrinsic-size:728px 90px; min-height:90px;}






@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only, .share-box-static{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  .topbox-trending{padding-left:var(--size-4);}
  .topbox-trending-label{margin-bottom:var(--size-1);}
  .topbox-share-toggle{padding:0 var(--size-4);}
  
  
  
  header{--logo-size:24px; position:-webkit-sticky; position:sticky; top:0; background-color:var(--bg-2);}
  .header-left, .header-right{display:flex;}
  .header-link{height:var(--size-6); padding:0 var(--size-3);}
  .header-logo{padding-left:var(--size-4);}
  .header-logo img{height:32px;}
  .header-link .svgicon{height:calc(var(--logo-size) - 4px);}
  .header-menu-toggle{padding-right:var(--size-4);}
  
  
  
  nav.content_center{display:none;}
  
  
  
  .rancak-container{margin-top:var(--size-4);}
  .rancak-container-mobilemargin{margin-top:0;}
  .main-container{grid-template-columns:1fr;}
  .section-container{margin:0 var(--size-4);}
  
  
  
  .iklan-topbanner{margin-top:var(--size-4);}
}