*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:768px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --topbox-height:48px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:17px;
  --header-icon:var(--size-4); 
  --bg-1:#FAFAFA; 
  --bg-2:#FFFFFF; 
  --bg-3:#2F2F2F; 
  --color-border-dark:0 0 0;
  --color-border-light:255 255 255;
  --color-text-1:#757575; 
  --color-text-2:#212121; 
  --color-text-3:#E62020;
  --color-text-4:#414042;
  --color-text-5:#D50000;
  --color-text-6:#BDBDBD;
  --hover-opacity:0.55;
  --transition-default:all 0.34s;
  --shadow-default:0 2px 10px rgb(0 0 0 / 25%);
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}



body, html{font-family:'Poppins',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; color:var(--color-text-1);
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-3);}
body{background-color:var(--bg-1); overflow-x:hidden;}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{font-weight:bold; color:var(--color-text-2); fill:var(--color-text-2);}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:bold; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center; background-color:var(--color-text-5); color:var(--bg-1); fill:var(--bg-1);}
#marker{position:absolute; top:0px; width:0px; height:0px;}
.scrollToTop{position:fixed; bottom:calc(var(--size-6) + var(--size-3)); right:0; cursor:pointer;
z-index:calc(var(--max-zindex) - 10000); width:40px; height:40px; background-color:var(--color-text-5); fill:var(--bg-1);}
.width-max{position:relative; width:100%; max-width:var(--site-container); display:block; margin:0 auto;}



.section-title{font-family:'Exo',sans-serif; font-size:var(--title-fontsize); position:relative; display:flex; 
margin-bottom:var(--size-4); border-bottom:1px solid rgb(var(--color-border-dark) / 13%);}
.section-title-name{position:relative; padding-bottom:var(--size-2); border-bottom:3px solid var(--color-text-5); 
text-transform:uppercase; font-weight:bold; color:var(--color-text-2);}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0; border-radius:var(--size-1);}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.topbox{background-color:var(--bg-3); color:var(--color-text-6);}
.topbox .width-max{display:flex; justify-content:space-between;}
.topbox-left, .topbox-right{display:flex;}
.topbox-trending{--line-width:3px; line-height:120%; height:var(--topbox-height); padding:0 var(--size-2); font-size:12px;
display:flex; flex-wrap:wrap; align-items:center; align-content:center;}
.topbox-trending-label, .topbox-trending-title{width:100%;}
.topbox-trending-label{position:relative; margin-right:var(--size-2); padding-left:calc(var(--line-width) + var(--size-1)); margin-bottom:var(--size-1);
color:var(--bg-2); text-transform:uppercase; line-height:100%;}
.topbox-trending-label:before{content:''; position:absolute; top:0; left:0; width:var(--line-width); height:100%; background-color:var(--color-text-3);}
.topbox-trending-title{display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; -webkit-line-clamp:1; font-weight:normal; color:rgb(var(--color-border-light) / 77%);}



header{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 5000); top:0; background-color:var(--bg-2); box-shadow:var(--shadow-default);}
header .width-max{display:flex; justify-content:space-between;}
.header-link{height:var(--size-6); padding:0 var(--size-3);}
.header-logo{padding-left:var(--size-4);}
.header-logo-frame{width:136px;}
.header-logo-frame:before{padding-top:23.49%;}

.header-right{display:flex;}
.header-right > *:last-child{padding-right:var(--size-4);}
.header-link-icon{width:var(--header-icon); height:var(--header-icon);}
.header-link .svgicon{width:auto; height:var(--header-icon);}



nav{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 6000); top:var(--size-6); background-color:var(--color-text-3); color:var(--bg-2);}
nav .width-max{display:grid; grid-auto-flow:column; overflow-x:auto; padding:0 var(--size-2);}
nav .width-max::-webkit-scrollbar{height:0px;}
.nav-link{height:calc(var(--size-5) + var(--size-1)); padding:0 var(--size-3); color:var(--bg-2); text-transform:uppercase; position:relative;}
.nav-curr{background-color:var(--color-text-5);}
.nav-curr:after{content:''; display:block; position:absolute; bottom:0; left:0; width:100%; height:var(--size-1); background-color:rgb(var(--color-border-dark) / 21%);}



.rancak-container{min-height:100vh;}
.rancak-container .width-max{margin:var(--size-4) auto 0;}
.section-container{margin-left:var(--size-4); margin-right:var(--size-4); margin-bottom:var(--size-5);}



.content-list-container{display:grid; grid-gap:var(--size-4);}
.content-box{--thumb-size:100px; display:grid; grid-gap:var(--size-3); grid-template-columns:var(--thumb-size) 1fr; position:relative;}
.content-thumb-frame:before{padding-top:100%;}
.content-info{font-size:12px;}
.content-info-misc{display:flex; flex-wrap:wrap;}
.content-info-misc > *{padding-right:var(--size-2); margin-top:var(--size-2); margin-right:var(--size-2); border-right:1px solid rgb(var(--color-border-dark) / 21%); line-height:100%;}
.content-info-misc a{font-weight:normal; color:var(--color-text-5);}
.content-info-title h2, .content-info-desc{display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}
.content-info-title h2{font-family:'Exo',sans-serif; font-size:var(--title-fontsize); line-height:150%; -webkit-line-clamp:3;}
.content-info-comment{display:flex; align-items:center;}
.content-info-comment .svgicon{width:auto; height:10px; margin-right:var(--size-1);}
.content-info-desc{-webkit-line-clamp:3; margin-top:var(--size-2);}
.content-more{margin-top:var(--size-4);}
.content-icon{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%;}
.content-icon .svgicon{fill:rgb(var(--color-border-light) / 55%); width:48px; height:auto;}


.content-card-list .content-list-container{grid-auto-flow:column; overflow-x:auto;}
.content-card-list .content-box{grid-template-columns:1fr; width:210px; grid-auto-rows:min-content;}
.content-card-list .content-thumb-frame:before{padding-top:56.25%;}
.content-card-list .content-info-title h2{-webkit-line-clamp:3;}



footer .width-max{padding:var(--size-5) var(--size-4);}

.footer-top{background-color:#E5E4E2;}
.footer-top .width-max{display:grid; grid-gap:var(--size-6);}

.footer-top-info{display:grid; grid-gap:var(--size-3); grid-auto-rows:min-content;}
.fti-logo-frame{width:250px; height:58.73px;}
.fti-name{font-weight:bold; font-size:24px; color:var(--color-text-2);}
.fti-email{display:grid; grid-gap:var(--size-2);}
.fti-email-link{display:flex;}
.fti-email-icon .svgicon{width:auto; height:16px;}
.fti-email-address{margin-left:var(--size-3); font-weight:normal;}
.fti-group{display:flex; align-items:center;}
.fti-group-link{margin-right:var(--size-4);}
.fti-group-link img{width:120px; height:auto;}
.fti-rodanesia-frame{width:124.86px; height:34px;}
.fti-watchis-frame{width:124.38px; height:34px;}

.footer-top-menu .section-title{margin-bottom:var(--size-2);}
.ftm-box{display:grid; grid-gap:var(--size-1) var(--size-4); grid-template-columns:repeat(2,1fr);}
.ftm-link{justify-content:flex-start; padding:var(--size-2) 0; border-bottom:1px dashed rgb(var(--color-border-dark) / 13%); 
font-weight:normal; text-transform:uppercase; font-size:12px;}

.ftf-list{display:flex;}
.ftf-link{justify-content:flex-start; margin-right:var(--size-3); width:var(--size-6); height:var(--size-6); position:relative;}
.ftf-link img{width:100%; max-width:55px; height:auto;}
.ftf-mail-box{display:flex;}
.ftf-mail-field, .ftf-mail-button{padding:var(--size-2) var(--size-3);}
.ftf-mail-label{font-size:12px; margin-top:var(--size-4); margin-bottom:var(--size-1);}
.ftf-mail-button{background-color:var(--color-text-3); color:var(--bg-2);}

.footer-bottom{background-color:var(--bg-3); color:var(--color-text-6); font-size:12px;}
.footer-bottom-info{display:flex; flex-wrap:wrap;}
.footer-bottom-link{color:var(--bg-2); font-weight:normal; margin-top:var(--size-2); margin-right:var(--size-4);}





@media screen and (min-width:568px){
  .widget-infografik{max-width:480px; margin-left:auto; margin-right:auto;}
}





@media screen and (min-width:768px){
  .topbox-trending{padding-left:var(--size-4);}
  
  
  
  nav .width-max{max-width:calc(var(--site-container) - var(--size-4) - var(--size-4));}
  
  
  
  .headline{margin-left:var(--size-4); margin-right:var(--size-4);}
  
  
  
  .content-card-list .content-list-container{grid-template-columns:repeat(3,1fr);}
  .content-card-list .content-box{width:100%;}
  
  
  
  
  .widget-infografik .content-list-container{grid-template-columns:1fr;}
}


