.stories-list{margin-left:var(--size-1); margin-right:var(--size-1); margin-top:calc(var(--size-4) * -1); margin-bottom:var(--size-5);}
.stories-list-container{display:grid; grid-gap:var(--size-1); grid-auto-flow:column; overflow-x:auto;}
.stories-thumb{width:130px;}
.stories-thumb:before{padding-top:133.33%;}



@media screen and (min-width:768px){
  .stories-list{margin-left:var(--size-4); margin-right:var(--size-4);}
  .stories-list-container{grid-template-columns:repeat(5,1fr);}
  .stories-thumb{width:100%;}
}